:root {
  --first-color: #c1121f;
  --second-color: #fdf0d5;
  --third-color: #003049;
  --gradient: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
  --box-shadow: 0 0 70px -10px rgb(255, 255, 255);
  --chroma-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
    0 0 80px #00b3ff, 0 0 120px #00b3ff;
}

body {
  font-family: "oxanium";
  background: #000;
  position: relative;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
  background: #001300;
  animation: animateColor 5s linear infinite;
  cursor: url("https://64.media.tumblr.com/8b91e6445d5c4a4be545542486666928/7eefd2500f464426-4a/s100x200/4c6955e865e5366b36133eb201c795b618238363.gifv");
}

@media (max-width: 768px) {
  body {
    font-size: 10px;
  }
}
@keyframes animateColor {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.container {
  margin: 100px auto;
  color: white;
}

.shadow {
  position: relative;
  background: #111;
  width: 720px;
  height: 1020px;
  margin: 100px auto;
  color: white;
}

.shadow:before,
.shadow:after {
  z-index: -4;
  content: "";
  position: absolute;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  top: -3px;
  left: -3px;
  background: linear-gradient(
    45deg,
    #fc0090,
    #0000ff,
    #00ff00,
    #ff0000,
    #ffff00,
    #fc0090,
    #0000ff,
    #00ff00,
    #ffff00
  );
  background-size: 300%;
  animation: shadow 20s linear infinite;
}

.shadow:after {
  filter: blur(50px);
}

@keyframes shadow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300%;
  }
  100% {
    background-position: 0 0;
  }
}

.neon-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  margin-top: 10px;
  @media (min-width: 440px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.card {
  position: relative;
  padding: 2px;
  color: #f2f2f2;
  font-family: monospace;
  line-height: 1.5;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.card img {
  display: flex;
  justify-content: center;
}

.card:hover {
  transition: all 400ms ease;
  background: rgba(255, 255, 255, 0.3);
}

.card:after {
  z-index: -2;
  filter: blur(30px);
}

.card:nth-child(1)::before,
.card:nth-child(1)::after {
  background: linear-gradient(235deg, #099fff, #9d00ff, #89ff00);
}

.card:nth-child(2)::before,
.card:nth-child(2)::after {
  background: linear-gradient(235deg, #ff005e, #4be700, #cff700);
}

.card:nth-child(3)::before,
.card:nth-child(3)::after {
  background: linear-gradient(235deg, #ff6600, #772aff, #ff6600, #0bf4f3);
}
.card:nth-child(4)::before,
.card:nth-child(4)::after {
  background: linear-gradient(235deg, #ff00ff, #0bf4f3, #ffbb00);
}

.card:nth-child(5)::before,
.card:nth-child(5)::after {
  background: linear-gradient(235deg, #00ff00, #ff0099, #ff8800);
}

.card:nth-child(6)::before,
.card:nth-child(6)::after {
  background: linear-gradient(235deg, #0bf4f3, #ffff00, #ff0055);
}

footer {
  text-align: center;
}
